<section id="Background_Login" class="d-flex align-items-center">
  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <div class="row">
      <div class="col-xl-12">
        <div class="col-md-12">
          <div class="card card-container">
            <br />
            <h1 class="logo text-md-center">
              <a href="/inicio">Garage365<span>.</span></a>
            </h1>
            <br />
            <form (ngSubmit)="submitForm()" #resetForm="ngForm" novalidate>
              <div class="form-group">
                <h4 for="password">Nueva contraseña</h4>
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  name="password"
                  [(ngModel)]="password"
                  required
                  minlength="8"
                  placeholder="Nueva contraseña"
                />
                <!-- Validaciones y mensajes de error -->
                <!-- ... -->
              </div>
              <div class="form-group">
                <h4 for="confirmPassword">Confirmar contraseña</h4>
                <input
                  type="password"
                  id="confirmPassword"
                  class="form-control"
                  name="confirmPassword"
                  [(ngModel)]="confirmPassword"
                  required
                  minlength="8"
                  placeholder="Confirmar contraseña"
                />
                <!-- Validaciones y mensajes de error -->
                <!-- ... -->
              </div>
              <br />
              <div class="form-group text-md-center">
                <button
                  type="submit"
                  class="btn btn-danger btn-lg btn-block"
                  [disabled]="!resetForm?.form?.valid"
                >
                  Restablecer contraseña
                </button>
              </div>
              <br />
              <div
                *ngIf="responseMessage"
                [ngClass]="{
                  success: responseType === 'success',
                  error: responseType === 'error'
                }"
                class="text-md-center"
                style="color: #ffffff"
              >
                {{ responseMessage }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 
  <div id="Background_Login" class="reset-password-container">
  <p-toast
    [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
  ></p-toast>
  <h2>Restablecer contraseña</h2>
  <form (ngSubmit)="submitForm()" #resetForm="ngForm">
    <div class="form-group">
      <label for="password">Nueva contraseña</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
        minlength="8"
      />
      <div
        *ngIf="
          resetForm.controls?.['password']?.invalid &&
          (resetForm.controls?.['password']?.dirty || resetForm.controls?.['password']?.touched)
        "
      >
        <small
          *ngIf="resetForm.controls?.['password']?.errors?.['required']"
          class="text-danger"
          >Este campo es obligatorio.</small
        >
        <small
          *ngIf="resetForm.controls?.['password']?.errors?.['minlength']"
          class="text-danger"
          >La contraseña debe tener al menos 8 caracteres.</small
        >
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirmar contraseña</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
        required
        minlength="8"
      />
      <div
        *ngIf="
          resetForm.controls?.['confirmPassword']?.invalid &&
          (resetForm.controls?.['confirmPassword']?.dirty || resetForm.controls?.['confirmPassword']?.touched)
        "
      >
        <small
          *ngIf="resetForm.controls?.['confirmPassword']?.errors?.['required']"
          class="text-danger"
          >Este campo es obligatorio.</small
        >
        <small
          *ngIf="resetForm.controls?.['confirmPassword']?.errors?.['minlength']"
          class="text-danger"
          >La contraseña debe tener al menos 8 caracteres.</small
        >
      </div>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="!resetForm?.form?.valid">
        Restablecer contraseña
      </button>
    </div>
    <div
      *ngIf="responseMessage"
      [ngClass]="{
        success: responseType === 'success',
        error: responseType === 'error'
      }"
    >
      {{ responseMessage }}
    </div>
  </form>
</div>

 -->
