<app-header></app-header>

<br />
<br />
<br />

<div class="container" id="header">
  <div class="chat-rooms mb-3 text-center">
    <h1 class="logo">
      <a>Chat de Usuarios</a>
    </h1>
    <p style="font-weight: bold; color: #333">
      <i class="fa fa-comments" aria-hidden="true"></i>
      Seleccione el chat deseado
    </p>
  </div>
</div>

<div class="chat-container">
  <app-chat-list
    (onSessionChange)="handleSessionChange($event)"
  ></app-chat-list>
  <app-chat-box *ngIf="sessionData" [sessionData]="sessionData"></app-chat-box>
</div>
